{% extends "base.html" %}
{% load static %}
{% block title %}
About
{% endblock title %}

{% block content %}
<section class="container mx-auto px-6 py-16 text-center">
    <h1 class="text-4xl font-bold mb-6">About IQlevel</h1>
    <p class="text-lg max-w-3xl mx-auto text-black">
        IQlevel is a dynamic platform designed to help students and professors streamline their project submissions and quizzes. Built with efficiency and simplicity in mind, IQlevel ensures that academic tasks are easily managed while maintaining strict security protocols. Professors can create assignments and quizzes, and students receive timely notifications, making the entire learning experience smoother.
    </p>
</section>

<!-- Developer Section -->
<section class="container mx-auto px-6 py-16 text-center bg-gray-800 rounded-lg shadow-lg">
    <h2 class="text-3xl font-semibold mb-4 text-white">Meet the Developer</h2>
    <p class="text-lg max-w-3xl mx-auto text-gray-300">
        Hi, I’m a passionate web developer and Computer Science student from Algeria. With a strong background in PHP, JavaScript, Django, and MySQL, I have built IQlevel as part of my final year project. My goal is to create practical and user-friendly solutions that enhance the academic experience. I am always looking for new opportunities and challenges to grow as a developer.
    </p>
</section>

{% endblock content %}