{% extends "base.html" %}
{% load static %}
{% block title %}
<title>Accueil</title>

{% endblock title %}

{% block content %}
<section class ="w-full min-h-screen flex flex-row-reverse" style="background-image: url('{% static "img/back5.png" %}'); background-size: cover;">
<div class="w-1/2  flex flex-col items-center justify-center bg-cover bg-center bg-fixed pl-3 md:px-58 py-8 text-center">
  
    <h2 class="block mb-7 text-5xl font-semibold text-white">A new way to learn </h2>
    <h3 class="text-2x font-light text-white tracking-wide mt-2 mb-6">IQlevel est une platforme d'apprentissage en ligne fournie par des étudiants pour les étudiants <br> pour mieux apprendre et valider Leurs travailles</h3>
    <a href="#" class="px-6 py-3 bg-transparent text-white font-semibold rounded-full flex items-center space-x-2 shadow-md hover:bg-white hover:text-gray-900 transition duration-300">
      <span>Créer un Compte</span>
      <span>➤</span>
  </a>
  
    
    <div class="flex space-x-6 mt-6">
        <a href="https://www.facebook.com/abdou.japoni.961/" class="text-gray-900 text-3xl"><i class="fa-brands fa-facebook"></i></a>
        <a href="https://www.instagram.com/abdou._.rs/" class="text-gray-900 text-3xl"><i class="fa-brands fa-square-instagram"></i></a>
        <a href="https://www.linkedin.com/in/abderrahmen-berradj-726521270/" class="text-gray-900 text-3xl"><i class="fa-brands fa-linkedin"></i></a>
    </div>
  
  </div>
  <div class="image w-1/2 min-h-screen flex items-center justify-center">
    <img src="{% static 'img/web2.webp' %}" alt="illustration">
</div>
</section>
<section class ="w-full min-h-[100vh] flex flex-col" style="background-image: url('{% static "img/back4.png" %}'); background-size: cover;">
<div class="w-full flex flex-col items-center justify-center bg-cover bg-center bg-fixed pl-3 md:px-58 py-8 text-center">
  
    <h2 class="block mb-7 text-5xl font-semibold text-black">Pourquoi IQlevel ? </h2>
    <h3 class="text-2xl font-light text-black px-14 tracking-wide mt-2 mb-6">IQLevel est une plateforme en ligne moderne permettant aux étudiants de soumettre leurs projets et de tester leurs connaissances grâce à des quiz interactifs. Elle simplifie le processus académique en offrant un système structuré pour la validation des travaux et l’auto-évaluation, garantissant une expérience d’apprentissage efficace et engageante.</h3>
  
  </div>
  <div class="flex justify-center p-4">
    <div class="bg-white p-6 rounded-lg shadow-lg max-w-sm text-center">
        <img src="{% static 'img/peter.jpg' %}" alt="Client Photo" class="w-32 h-32 mx-auto rounded-full border-4 border-gray-200">
        <h2 class="mt-4 text-lg font-semibold text-gray-800">Peter L. Galison</h2>
        <p class="text-sm text-gray-500">University Professor at Harvard University</p>
        <p class="mt-3 text-gray-700 italic">"This website really helps students on their learning process. It's user-friendly and easy to navigate. Highly recommended!"</p>
        <div class="mt-4 flex justify-center">
            <span class="text-yellow-400 text-xl">★ ★ ★ ★ ★</span>
        </div>
    </div>
    <div class="bg-white p-6 rounded-lg shadow-lg max-w-sm text-center">
      <img src="{% static 'img/fei.png' %}" alt="Client Photo" class="w-32 h-32 mx-auto rounded-full border-4 border-gray-200">
      <h2 class="mt-4 text-lg font-semibold text-gray-800">Fei-Fei Li</h2>
      <p class="text-sm text-gray-500">Cofounder & CEO, World Labs | Professor at Univeristy of california</p>
      <p class="mt-3 text-gray-700 italic">"This is a fantastic website! The design is modern, and everything works smoothly. Highly recommended!"</p>
      <div class="mt-4 flex justify-center">
          <span class="text-yellow-400 text-xl">★ ★ ★ ★ ★</span>
      </div>
  </div>
  <div class="bg-white p-6 rounded-lg shadow-lg max-w-sm text-center">
    <img src="{% static 'img/arl.jpg' %}" alt="Client Photo" class="w-32 h-32 mx-auto rounded-full border-4 border-gray-200">
    <h2 class="mt-4 text-lg font-semibold text-gray-800">Arlene Sharpe</h2>
    <p class="text-sm text-gray-500">MD, PhD | Kolokotrones University Professor at Harvard University</p>
    <p class="mt-3 text-gray-700 italic">"IQLevel is a game-changer for both students and proffessors, glad you guys made it!"</p>
    <div class="mt-4 flex justify-center">
        <span class="text-yellow-400 text-xl">★ ★ ★ ★ ★</span>
    </div>
</div>
  </div>
</section>
<section class ="w-full min-h-screen flex flex-row">
  <div class="w-1/2  flex flex-col items-center justify-center bg-cover bg-center bg-fixed pl-3 md:px-58 py-8 text-center">
    
      <h2 class="block mb-7 text-5xl font-semibold text-black">Comment elle fonctionne ? </h2>
      <h3 class="text-2x font-light text-black tracking-wide mt-2 mb-6">IQlevel est une platforme d'apprentissage en ligne fournie par des étudiants pour les étudiants <br> pour mieux apprendre et valider Leurs travailles</h3>
      <a href="#" class="px-6 py-3 bg-transparent text-black font-semibold rounded-full flex items-center space-x-2 shadow-md hover:bg-white hover:text-gray-900 transition duration-300">
        <span>Créer un Compte</span>
        <span>➤</span>
    </a>
    </div>
    <div class="image w-1/2 min-h-screen flex items-center justify-center">
      <img src="{% static 'img/back.png' %}" alt="illustration">
  </div>
  </section>

{% endblock%}