<header id="navbar" class="  top-0 left-0 w-full p-5 md:px-24 flex justify-between items-center z-50 transition duration-300" style ="background-color: #2B2B2B;">
    <h2 class="text-2xl text-white select-none"></h2>
    <nav class="flex items-center space-x-6">
      <a href="index.html" class="text-white text-lg font-medium relative after:block after:content-[''] after:w-full after:h-[3px] after:bg-white after:rounded-md after:scale-0 after:transition-transform after:origin-right hover:after:scale-100 hover:after:origin-left">HOME</a>
      <a href="#" class="text-white text-lg font-medium relative after:block after:content-[''] after:w-full after:h-[3px] after:bg-white after:rounded-md after:scale-0 after:transition-transform after:origin-right hover:after:scale-100 hover:after:origin-left">ABOUT</a>
      <a href="#" class="text-white text-lg font-medium relative after:block after:content-[''] after:w-full after:h-[3px] after:bg-white after:rounded-md after:scale-0 after:transition-transform after:origin-right hover:after:scale-100 hover:after:origin-left">SERVICE</a>
      <a href="#" class="text-white text-lg font-medium relative after:block after:content-[''] after:w-full after:h-[3px] after:bg-white after:rounded-md after:scale-0 after:transition-transform after:origin-right hover:after:scale-100 hover:after:origin-left">CONTACT</a>
      <button onclick="fromIndexToLogin()" class="h-12 w-32 border-2 border-white bg-transparent text-white text-lg font-medium rounded-md transition duration-500 hover:bg-white hover:text-gray-900">Login</button>
    </nav>
  </header>